body {
    width: 100%;
    height: 100vh;
    display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header {
	justify-self: start;
	align-self: center;
	font-size: 4rem;
	color: #2b2b2b;
	font-family: cursive;
}
.cell-container {
    height: 40vw;
    width: 40vw;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 3px;
	background-color: gray;
}

.cell {
	min-width: 0;
    background-color: white;
	font-size: 20px;
    display: flex;
	justify-content: center;
	align-items: center;
    font-family: monospace;
}

.player {
	font-weight: bolder;
	font-size: 35px;
}

img {
	max-width: 60%;
}